
@{
    ViewBag.Title = "ClientManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="clientList">
    <h2>ClientManagement</h2>

    <table id="grid"></table>

    <div id="pager"></div>

</div>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
<script src="~/Scripts/jqGridClient.js"></script>
